* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFF00;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #02A9EA;
    text-transform: uppercase;
    font-weight: 600;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: auto;
    margin-left: 100px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: #FAFF00;
}